@import "../../constants/vars";

.weather-result {
  max-width: 31%;
  padding: 10px;
  border-radius: .3rem;
  border: 1px solid $grey;

  .jumbotron {
    margin-bottom: 0;
    background-color: $translucent;
  }

  @media (max-width: 1348px) {
    max-width: 70%;
  }
  @media (max-width: 700px) {
    max-width: 90%;
  }
  @media (max-width: 500px) {
    max-width: 100%;
  }

}